body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #824D74;
}
svg{
    background-color: wheat;
}
.cell:hover{
    fill:darkgreen;
}
#canvas{
    
    min-height: 600px;
    min-width: 1200px;
}
#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}
#chart_container{
    height : auto;
    margin : auto;
    display : flex;
    flex-direction : column;
    align-items : center;
    margin-top : 30px;
    border-radius : 10px;
    box-shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: wheat
}
